<div id="skills">
  <% @profile.each_skill_group do |group, skills| -%>
    <h2><%= h group %></h2>

    <ul>
      <% skills.each do |skill| -%>
        <li><%= auto_link h(skill) %></li>
      <% end -%>
    </ul>
  <% end -%>
</div>

<div id="projects">
  <h2><%= t 'project.list' %></h2>
  <ul>
    <% Project.all.each do |project| -%>
      <li class="project">
      <h2><%= project_name project %></h2>
      <p><%= h project.description %></p>

      <% if (tags = project.tags).any? -%>
        <ul class="tags">
          <% tags.each do |tag| -%>
            <li><%= tag_icon tag %></li>
          <% end -%>
        </ul>
      <% end -%>
      </li>
    <% end -%>
  </ul>
</div>
