<h1><%= @profile.name %></h1>


<div id="contact">
  <div><%= gravatar_tag @profile.email, :size => 200 %></div>

  <dl>
    <dt><%= t 'profile.name' %></dt>
    <dd><%= @profile.name %></dt>

    <dt><%= t 'profile.email' %></dt>
    <dd><%= mail_to @profile.email %></dd>

    <dt><%= t 'profile.phone' %></dt>
    <dd><%= @profile.phone %></dd>
  </dl>
</div>
