<h1 class="header"><%= @profile.name %></h1>


<div id="content">
  <div id="contact">
    <div><%= gravatar_tag @profile.email, :size => 200 %></div>

    <ul>
      <li><%= @profile.name %></li>

      <li><%= mail_to @profile.email %></li>

      <%= content_tag :li, @profile.phone if @profile.attribute?(:phone) %>
    </ul>

    <ul class="links">
      <% @profile.links.each do |link| %>
        <li><%= web_link link %></li>
      <% end %>
    </ul>
  </div>

  <div id="skills">
    <% @profile.each_skill_group do |group, skills| -%>
      <h2><%= h group %></h2>

      <ul>
        <% skills.each do |skill| -%>
          <li><%= auto_link h(skill) %></li>
        <% end -%>
      </ul>
    <% end -%>
  </div>

</div>

<div id="projects">
  <h2><%= t 'project.list' %></h2>
  <ul>
    <% Project.all.each do |project| -%>
      <li class="project">
      <h2><%= project_name project %></h2>
      <p><%= h project.description %></p>

      <% if (tags = project.tags).any? -%>
        <ul class="tags">
          <% tags.each do |tag| -%>
            <li><%= tag_icon tag %></li>
          <% end -%>
        </ul>
      <% end -%>
      </li>
    <% end -%>
  </ul>
</div>
