<h1><%= @profile.name %></h1>


<div id="contact">
  <div><%= gravatar_tag @profile.email, :size => 200 %></div>

  <ul>
    <li><%= @profile.name %></li>

    <li><%= mail_to @profile.email %></li>

    <li><%= @profile.phone %></li>
  </ul>

  <ul class="links">
    <% @profile.links.each do |link| %>
      <li><%= web_link link %></li>
    <% end %>
  </ul>
</div>
